@import 'app-variables';

body {
    font-family: Roboto, sans-serif; // Match .application for stuff outside like toasters
}

.container.page-wrapper {
    max-width: @max-width; // Cap the width of page contents
    height: 100%;
}

ul {
    margin-left: 40px;
}

.toasted-container .toasted.bubble {
    font-size: inherit;
    font-weight: inherit;
}

.import-form-field {
    max-width: 800px;
    margin: 0 auto;
}

.headers-example {
    margin: 2rem 0;
    text-align: center;

    img {
        border: 1px solid lightgray;
    }
}

.main-content a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// We have more than one search component that uses these styles
.search-wrapper {

    height: 100%;
    background: white;

    .search-part-layout {
        max-width: @max-width;
    }

    .search-filter-wrapper {

        background: #f5f5f5;
        border-bottom: 1px solid lightgray;
        padding: 2rem 6rem;

        .ui.header {
            margin-top: 0;
        }
    }
}
