body {
    font-family: Roboto, sans-serif; // Match .application for stuff outside like toasters
}

ul {
    margin-left: 40px;
}

.toasted-container .toasted.bubble {
    font-size: inherit;
    font-weight: inherit;
}
