.gradle
build
node_modules
static/
coverage
dist
.idea/
out/
*.iml
npm-debug.log
kinase.db
semantic
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

aws-*.zip

